:root {
  --light-blue-background: #061A44;

  --box-shadow: 0px 0px 5px 1px #001EC7;

  --active-link-shadow: #03FF03;
  --main-text-color: #FFFFFF;
  --main-background-color: #010E2C;
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  min-height: 100vh;
}