:root {
  --active-link-shadow: #03FF03;
  --main-text-color: #FFFFFF;
  --main-background-color: #010E2C;
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}