.card {
    background-color: var(--light-blue-background);
    box-shadow: var(--box-shadow);

    padding: 10px;
    text-align: center;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #00d0d2;;
}

