.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.grid {
	width: 100%;
	max-width: 1110px;
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	gap: 15px;
}

.grid:has(div[datatype="loader"]) {
	display: flex;
	min-height: 70vh;
	align-items: center;
	justify-content: center;
}

.favorites:hover {
	box-shadow: 0 0 5px 1px #E83509;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.confirm {
	display: block;
	box-shadow: var(--box-shadow);
	width: 100%;
	max-width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.active {
	box-shadow: 0 0 5px 1px var(--active-link-shadow);
	animation: shadow-pulse 0.8s infinite alternate;
}

@keyframes shadow-pulse {
	from {
		box-shadow: 0 0 5px 1px var(--active-link-shadow);
	}

	to {
		box-shadow: 0 0 8px 2px var(--active-link-shadow);
	}
}

.searchInput {
	border: none;
	background: transparent;
	box-shadow: var(--box-shadow);
	width: 200px;
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	color: var(--main-white);
}

.searchInput:focus {
	outline: none;
}

.searchInput::placeholder {
	text-transform: capitalize;
	opacity: 0.7;
}
