.card {
    background-color: var(--light-blue-background);
    box-shadow: var(--box-shadow);

    padding: 10px;
    text-align: center;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #00d0d2;;
}

.coinHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.coinName {
    filter: drop-shadow(0px 0px 2px #ffff00);
}

.price {
    font-size: 0.8em;
    color: #58d5e9;
}

.coinImage {
    margin: 0 auto;
}

