.link {
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 1.1em;
	text-transform: capitalize;
}

.active {
	text-shadow: 0 0 60px var(--active-link-shadow);
}

.link:focus {
	color: #00DADA;
}
