.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--main-background-color);
	min-height: 100vh;
}

.tips {
	margin-top: 65px;
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.tipsBold {
	font-size: 1.6em;
	line-height: 1.6em;
	color: var(--main-text-color);
	font-weight: 500;
}

.homeLink {
	position: relative;
}

.homeLink::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
}

.homeLink::after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #F2BE11;
	animation: ticker 2s linear infinite;
}

@keyframes ticker {
	0% {
		width: 0%;
		left: 0;
	}

	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}
